.editor {
  font-family: Arial, sans-serif;
  width: 100%;
  height: 80vh;
  font-size: 16px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}

.editor s, .editor strike, .editor del {
  text-decoration-thickness: 2px; /* 打ち消し線の太さ */
  text-decoration-color: red; /* 打ち消し線の色 */
}


.toolbar {
  margin-bottom: 10px;
}

.toolbar button {
  margin-right: 5px;
}
